---
title: Release Notes for Cloud Service Broker for AWS
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

##<a id="1-0-1"></a> v1.0.1

**Release Date:** December 14, 2020

### New Features

New features and changes in this release:

* **Ability to specify PostgresSQL, MySQL, and Redis subnet group:**
This is useful if your Virtual Private Cloud (VPC) has an existing subnet group that you want to use.
You can configure this  in <%= vars.ops_manager %> in the **Config and Plans** panes for PostgresSQL, MySQL, and Redis.

* **Improve legacy broker migration with additional properties for Amazon RDS PostegreSQL plans:**
You can configure this in <%= vars.ops_manager %> in the **PostgresSQL Config and Plans** pane.

* **Functionality to allow major or minor upgrade and specify maintenance window:**
This feature is available for the Amazon RDS for MySQL and Amazon RDS for PostgreSQL plans.
You can add these as JSON parameters in <%= vars.ops_manager %> in the **Additional Plans**
field of the **Config and Plans** panes for PostgresSQL and MySQL.
<br>For the parameters to add, see the `allow_major_version_upgrade`, `allow_minor_version_upgrade`,
and `maintenance` configuration parameters for your services on [Service Plan Reference](./reference.html).

### Resolved Issues

This release has the following fixes:

* **Added new and necessary IAM policies to the configuration documentation.**
For more information, see [Prerequisites for Installing Cloud Service Broker for AWS](./installing-with-aws.html#prereq)

* **Marked defaults and required parameters in DynamoDB.**
This makes the errors that some customers are receiving more user-friendly.

### Known Issue

This release has the following issue:

* **PostgreSQL instances cannot be moved to smaller plans:** Because of a limitation with Amazon RDS for PostgreSQL,
  instance plans cannot be changed to smaller plans, for example, through a `cf update-service -p` command.
  This restriction also applies to subsumed PostgreSQL instances.
  Updates to a PostgreSQL instance fail if they attempt an update that decreases `storage_gb`.
  For information about decreasing the total provisioned storage size of an Amazon RDS DB instance,
  see the [AWS documentation](https://aws.amazon.com/premiumsupport/knowledge-center/rds-db-storage-size/).

##<a id="1-0-0"></a> v1.0.0

**Release Date:** November 18, 2020

### Features

New feature in this release:

* **Initial release:** This is the initial release for the <%= vars.product_full %> tile.

### Known Issue

This release has the following issue:

* **PostgreSQL instances cannot be moved to smaller plans:**  Because of a limitation with Amazon RDS for PostgreSQL,
  instance plans cannot be changed to smaller plans, for example, through a `cf update-service -p` command.
  This restriction also applies to subsumed PostgreSQL instances.
  Updates to a PostgreSQL instance fail if they attempt an update that decreases `storage_gb`.
  For information about decreasing the total provisioned storage size of an Amazon RDS DB instance,
  see the [AWS documentation](https://aws.amazon.com/premiumsupport/knowledge-center/rds-db-storage-size/).
